In [19]:
import numpy as np
import pandas as pd

In [55]:
x_train=pd.read_csv("0000000000002429_training_titanic_x_y_train.csv",delimiter=",",usecols=[0,1,2,3,4,5,6,7,8,9])
y_train=pd.read_csv("0000000000002429_training_titanic_x_y_train.csv",delimiter=",",usecols=[10])
x_test=pd.read_csv("0000000000002429_test_titanic_x_test.csv",delimiter=",",usecols=[0,1,2,3,4,5,6,7,8,9])

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [47]:
iris=x_train.copy()
iris.Age.fillna(iris.Age.mean(), inplace=True)
iris.drop('Cabin',axis=1,inplace=True)
iris.drop('Name',axis=1,inplace=True)
iris.drop('Embarked',axis=1,inplace=True)
iris.drop('Fare',axis=1,inplace=True)
iris.drop('Ticket',axis=1,inplace=True)
iris.drop('Parch',axis=1,inplace=True)

def f(s):
    if s=="Male":
        return 0
    else:
        return 1
iris["Sex"]=iris.Sex.apply(f)
iris.head()

   Pclass  Sex       Age  SibSp  Parch
0       2    1  29.00000      1      0
1       3    1  29.70056      0      0
2       2    1  39.00000      0      0
3       3    1  29.00000      0      4
4       3    1  25.00000      0      0

In [56]:
iris1=x_test.copy()
iris1.Age.fillna(iris.Age.mean(), inplace=True)
iris1.drop('Cabin',axis=1,inplace=True)
iris1.drop('Name',axis=1,inplace=True)
iris1.drop('Embarked',axis=1,inplace=True)
iris1.drop('Fare',axis=1,inplace=True)
iris1.drop('Ticket',axis=1,inplace=True)
def f(s):
    if s=="Male":
        return 0
    else:
        return 1
iris1["Sex"]=iris.Sex.apply(f)
iris1.head()

   Pclass  Sex       Age  SibSp  Parch
0       2    1   8.00000      1      1
1       1    1  49.00000      0      0
2       3    1  29.70056      0      0
3       2    1  24.00000      2      1
4       1    1  36.00000      0      0

In [57]:
clf=LogisticRegression()
clf.fit(iris,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [58]:
y_test_pred=clf.predict(iris1)
y_test_pred

array([1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1], dtype=int64)

In [62]:
np.savetxt('predict.csv',y_test_pred,fmt='%0.5f')